Tamsayıyı Ondalıklı Sayıya Çevirme

In [4]:
a = 43
b= float(a)
a

43

In [5]:
b

43.0

In [7]:
x = -1
y = float(x)
x

-1

In [8]:
y

-1.0

Ondalıklı Sayıyı Tam sayıya Çevirme

In [12]:
z = 4.7
s = int(z)
s

4

Sayıları String e Çevirme

In [15]:
a = 1234
t = str(a)
t

'1234.1232114214142'

Stringleri Tam Sayıya ve Ondalıklı Sayıya Çevirme

In [16]:
a = "123"
b = int(a)
b

123

In [18]:
a = "123.67"
b = float(a)
b

123.67

In [25]:
n = "123abc"
m = int(n)

ValueError: invalid literal for int() with base 10: '123abc'